# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sublime files.
*.sublime-workspace

# Ignore binary files.
server/chatserver
server/create_account
server/create_armor
server/create_character
server/create_weapons
server/server
server/update_server
